// Login form css

#btnFetch {
  color: #FFF;
  background-color: #2ebc4f;
  border-color: #2ebc4f;
  padding: 6px 20px;
  border-radius: 2px;
}


#login-form-card {
  margin-top: 50px;
  padding: 30px 30px 10px 30px;
}

.star {
  color: red;
  font-weight: bolder;
}

#new-account-card {
  padding: 10px;
  margin-top: 10px;
}

// reset password form

#resetButton {
  color: #FFF;
  background-color: #2ebc4f;
  border-color: #2ebc4f;
  padding: 6px 20px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.text-muted {
  font-weight: bolder;
}

.login-icon{
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
}

#sign-in-card {
  padding: 10px;
  margin-top: 10px;
}